{% include "header.html" %}

<body>
  <section id="cafes">
      <div class="row">
          <div class="col-md-6 col-12">
              <a href="https://www.starbucks.es/store-locator?types=starbucks&latLng=37.98854700000001%2C-1.1320029999999903&zoom=15&store=50300-260427&storeDetail=50300-260427">
                  <h1>Starbucks</h1>
              </a>
              <a href="https://www.google.com/maps/place/Starbucks/@37.9871512,-1.1340927,17z/data=!3m1!4b1!4m5!3m4!1s0xd63821c3eacb9b1:0x4f18756381a2bfd!8m2!3d37.987147!4d-1.131904">Gran Vía del Escultor Francisco Salzillo, 42, 30005 Murcia</a>
              <div class="border-box">
                  <p>WiFi Speed: Mb p/s</p>
                  <p>Seating Range: </p>
                  <p>Coffee Price: €</p>
              </div>
          </div>
          <div class="col-md-6 col-12">
              <img src="{{ url_for('static', filename='images/cafe_img.jpg') }}">
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-12">
              <img src="https://picsum.photos/400/300">
          </div>
          <div class="col-md-6 col-12 border-box ratings">
              <p>WiFi: 💪</p>
              <p>Power: 🔌</p>
              <p>Seats: 💺</p>
              <p>Coffee: ☕</p>
          </div>
      </div>
  </section>


</body>

{% include "footer.html" %}
