{% include "header.html" %}


<!---------- HEADER---------->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='images/cafes/' + cafe_name + '/1.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 cafe-name">
                    <div>
                        <h1>{{ cafe.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
  </header>
<body>
  <section id="cafes">
      <div class="row">
          <div class="col-12">
              <h5>{{ cafe.description }}</h5>
              <hr>
              <h5>{{ cafe.address }}</h5>
          </div>
      </div>
      <hr>
      <div class="row justify-content-center">
          <div class="col-4 col-md-2">
              <div class="alert alert-light at-a-glance" role="alert">
                  <p>{{ cafe.open_status }}</p>
              </div>
          </div>
          <div class="col-4 col-md-2">
              <div class="alert alert-light at-a-glance" role="alert">
                  {% if cafe.wifi_down %}
                  <p><i class="fa-solid fa-wifi" style="color: #0D0D0D;"></i> {{ cafe.wifi_down }} Mb</p>
                  {% else %}
                  <p><i class="fa-solid fa-wifi" style="color: #0D0D0D;"></i> <i class="fa-solid fa-xmark" style="color: #0D0D0D;"></i></p>
                  {% endif %}
              </div>
          </div>
          <div class="col-4 col-md-2">
              <div class="alert alert-light at-a-glance" role="alert">
                  <p>{{ cafe.seating_range }} <i class="fa-solid fa-chair" style="color: #0D0D0D;"></i></p>
              </div>
          </div>
          <div class="col-4 col-md-2">
              <div class="alert alert-light at-a-glance" role="alert">
                  <p>€{{ cafe.coffee_price }} <i class="fa-solid fa-mug-hot" style="color: #0D0D0D;"></i></p>
              </div>
          </div>
          <div class="col-4 col-md-2">
              <div class="alert alert-light at-a-glance" role="alert">
                  {% if cafe.power_rating == "✘" %}
                  <p><i class="fa-solid fa-xmark" style="color: #0D0D0D;"></i><i class="fa-solid fa-plug" style="color: #0D0D0D;"></i></p>
                  {% elif cafe.power_rating == "1" or "2" or "3" %}
                  <p>Okay <i class="fa-solid fa-plug" style="color: #0D0D0D;"></i></p>
                  {% elif cafe.power_rating == "4" or "5" or "6" or "7" %}
                  <p>Good <i class="fa-solid fa-plug" style="color: #0D0D0D;"></i></p>
                  {% elif cafe.power_rating == "8" or "9" or "10" %}
                  <p>Excellent <i class="fa-solid fa-plug" style="color: #0D0D0D;"></i></p>
                  {% endif %}
              </div>
          </div>
      </div>
      <hr>
      <div class="row justify-content-center">
          {% if cafe.website %}
          <div class="col-3 col-md-1">
              <a href={{ cafe.website }} target="_blank">
                  <i class="fa-solid fa-computer-mouse" style="color: #F28F16; font-size: 2em;"></i>
              </a>
          </div>
          {% endif %}
          {% if cafe.facebook %}
          <div class="col-3 col-md-1">
              <a href={{ cafe.facebook }} target="_blank">
                  <i class="fa-brands fa-facebook" style="color: #F28F16; font-size: 2em;"></i>
              </a>
          </div>
          {% endif %}
          {% if cafe.instagram %}
          <div class="col-3 col-md-1">
              <a href={{ cafe.instagram }} target="_blank">
                  <i class="fa-brands fa-instagram" style="color: #F28F16; font-size: 2em;"></i>
              </a>
          </div>
          {% endif %}
          {% if cafe.twitter %}
          <div class="col-3 col-md-1">
              <a href={{ cafe.twitter }} target="_blank">
                  <i class="fa-brands fa-twitter" style="color: #F28F16; font-size: 2em;"></i>
              </a>
          </div>
          {% endif %}

      </div>
      <hr>
      <div class="row">
          <div class="col"></div>

          {% for image in photos %}
          <div class="col-3">
              <img src="/static/images/cafes/{{cafe_name}}/{{image}}" class="rounded mx-auto d-block" alt="...">
          </div>
          {% endfor %}

          <div class="col"></div>
      </div>
      <hr>

      <div class="row justify-content-center">
          <div class="col-10 col-md-6">
              <div class="alert alert-light" role="alert" style="font-size:95%; padding:5px;">
                    <p>{{ cafe.comments }}</p>
              </div>
              <div class="alert alert-light" role="alert" style="max-height: 600px;">
                  <iframe src="{{ cafe.location }}" frameborder="0" style="border:0; width:100%; height:100%;"></iframe>
              </div>
          </div>
          <div class="col-10 col-md-6">
              <div class="alert alert-light" role="alert">
                  <table class="table table-sm">
                      <thead>
                          <tr>
                              <th scope="col">Day</th>
                              <th scope="col">Opens</th>
                              <th scope="col">Closes</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">Monday</th>
                              <td>{{ cafe.mon_open }}</td>
                              <td>{{ cafe.mon_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Tuesday</th>
                              <td>{{ cafe.tue_open }}</td>
                              <td>{{ cafe.tue_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Wednesday</th>
                              <td>{{ cafe.wed_open }}</td>
                              <td>{{ cafe.wed_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Thursday</th>
                              <td>{{ cafe.thu_open }}</td>
                              <td>{{ cafe.thu_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Friday</th>
                              <td>{{ cafe.fri_open }}</td>
                              <td>{{ cafe.fri_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Saturday</th>
                              <td>{{ cafe.sat_open }}</td>
                              <td>{{ cafe.sat_close }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Sunday</th>
                              <td>{{ cafe.sun_open }}</td>
                              <td>{{ cafe.sun_close }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <hr>

      <div class="row">
          <div class="col-12 personal-check">
              <h5>How do we know?</h5>
              <h5 class="personal">We personally review every café.</h5>
              <br>
              <h5>We were last here on: {{ cafe.review_date }}</h5>
          </div>
      </div>



  </section>


</body>

{% include "footer.html" %}
