{% include "header.html" %}

<!---------- HEADER---------->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='images/cafes/' + cafe_name + '/1.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 cafe-name">
                    <div>
                        <h1>{{ cafe.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
  </header>
<body>
  <section id="cafes">
      <div class="row">
          <div class="col-md-6 col-12">
              <a href={{ cafe.website }}>
                  <h1>{{ cafe.name }}</h1>
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <p>WiFi Download Speed: {{ cafe.wifi_down }}Mb p/s</p>
                      <p>WiFi Upload Speed: {{ cafe.wifi_up }}Mb p/s</p>
                      <p>Seating Range: {{ cafe.seating_range }}</p>
                      <p>Coffee Price: €{{ cafe.coffee_price }}</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/static/images/cafes/{{cafe.name}}/1.jpg" class="d-block w-100" alt="...">
                              </div>

                              {% for image in photos %}
                              <div class="carousel-item">
                                  <img src="/static/images/cafes/{{cafe_name}}/{{image}}" class="d-block w-100" alt="Image of {{cafe.name}}">
                              </div>
                              {% endfor %}
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <h2>Ratings: </h2>
                      <p>WiFi: {{ cafe.wifi_rating }}</p>
                      <p>Power: {{ cafe.power_rating }}</p>
                      <p>Seating: {{ cafe.seating_rating }}</p>
                      <p>Coffee: {{ cafe.coffee_rating }}</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <h2>Additional comments:</h2>
                      <p> {{ cafe.comments }}</p>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <div class="container-fluid">
                          <div class="map-responsive">
                              <iframe src="{{ cafe.location }}" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-12">
              <div class="card">
                  <div class="card-body">
                      <table class="table table-sm">
                          <thead>
                              <tr>
                                  <th scope="col">Day</th>
                                  <th scope="col">Opens</th>
                                  <th scope="col">Closes</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th scope="row">Monday</th>
                                  <td>{{ cafe.opens_wd }}</td>
                                  <td>{{ cafe.closes_wd }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Tuesday</th>
                                  <td>{{ cafe.opens_wd }}</td>
                                  <td>{{ cafe.closes_wd }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Wednesday</th>
                                  <td>{{ cafe.opens_wd }}</td>
                                  <td>{{ cafe.closes_wd }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Thursday</th>
                                  <td>{{ cafe.opens_wd }}</td>
                                  <td>{{ cafe.closes_wd }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Friday</th>
                                  <td>{{ cafe.opens_wd }}</td>
                                  <td>{{ cafe.closes_wd }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Saturday</th>
                                  <td>{{ cafe.opens_we }}</td>
                                  <td>{{ cafe.closes_we }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Sunday</th>
                                  <td>{{ cafe.opens_we }}</td>
                                  <td>{{ cafe.closes_we }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12 personal-check">
              <h5>How do we know?</h5>
              <h5 class="personal">We personally review every café.</h5>
              <br>
              <h5>We were last here on: {{ cafe.review_date }}</h5>
          </div>
      </div>



  </section>


</body>

{% include "footer.html" %}
