
<body>
    <section id="footer">
         <div class="footer">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <a href="https://www.linkedin.com/in/edward-olmos10/" class="footer-link">
                            <h5>LinkedIn</h5>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12>">
                        <a href="https://github.com/BigEd12" class="footer-link">
                            <h5>GitHub</h5>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="copyright-text col-12">
                        <h6>© {{year}} Eduardo Olmos</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>