{% include "header.html" %}

<body>
    <section id="landing">
        <div class="title-header">
            <h1>Find Your Spot</h1>
        </div>
    </section>

    <section id="features">
        <div class="row">
            <div class="features-box col-lg-4 col-md-12">
                <i class="fa-solid fa-laptop fa-7x"></i>
                <h3 class="features-header">Amenities</h3>
                <p class="features-para">Find out everything you need to know, before you go.</p>
            </div>
            <div class="features-box col-lg-4 col-md-12">
                <i class="fa-solid fa-door-open fa-7x"></i>
                <h3 class="features-header">Is It Open?</h3>
                <p class="features-para">We take data from Google and the café's pages to find latest opening times, and how busy it is.</p>
            </div>
            <div class="features-box col-lg-4 col-md-12">
                <i class="fa-solid fa-wifi fa-7x"></i>
                <h3 class="features-header">WiFi Strength</h3>
                <p class="features-para">We personally test and upload internet speed tests for each café we recommend</p>
            </div>
        </div>
    </section>

    <section id="selection">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <a href="{{ url_for('cafes', cafe=random_1.id) }}">
                        <img src="{{ url_for('static', filename='images/cafes/' + random_1.name + '/1.jpg') }}" class="carousel-image" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{ random_1.name }}</h1>
                        </div>
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <a href="{{ url_for('cafes', cafe=random_2.id) }}">
                        <img src="{{ url_for('static', filename='images/cafes/' + random_2.name + '/1.jpg') }}" class="carousel-image" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{ random_2.name }}</h1>
                        </div>
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <a href="{{ url_for('cafes', cafe=random_3.id) }}">
                        <img src="{{ url_for('static', filename='images/cafes/' + random_3.name + '/1.jpg') }}" class="carousel-image" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{ random_3.name }}</h1>
                        </div>
                    </a>

                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="cta">
        <div class="row">
            <div class="col-12">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="coffee_beans">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Find somewhere new now</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ url_for ('all_cafes') }}" class="btn btn-outline-light" role="button">Cafés</a>
            </div>
        </div>

    </section>
</body>

{% include "footer.html" %}
</html>